* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: #f0f2f5;
    height: 100vh;
}
main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0 16rem;
    height: 100vh;
}
.main-facebook-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-facebook-conteiner figure img {
    height: 10.6rem;
    margin-top: -8rem;
    
}
.main-facebook-conteiner .conteiner-parrafo {
    width: 40vw;
    margin-top: -1.4rem;
}
.main-facebook-conteiner .conteiner-parrafo .parrafo-facebook {
    font-size: 2.8rem;
    color: #1c1e21;
    margin: 0 2.8rem;
}
.conteiner-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-form-conteiner {
    background-color: #fff;
    width: 40rem;
    height: 33rem;
    padding: 2rem 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 13px 13px 0px rgba(184,180,180,0.75);
}
.main-form-conteiner form {
    display: flex;
    flex-direction: column;
}
.main-form-conteiner form .input-correo {
    font-size: 1.7rem;
    color: #e4e7e9;
    padding: 1.4rem 1.6rem;
    width: 37rem;
    border: 0.1rem solid #e1e3e5;
    border-radius: 6px;
    margin-bottom: 1.3rem;
}

.main-form-conteiner form .input-contraseña {
    font-size: 1.7rem;
    color: #e4e7e9;
    padding: 1.4rem 1.6rem;
    width: 37rem;
    border: 0.1rem solid #e1e3e5;
    border-radius: 6px;
    margin-bottom: 1.3rem;
}
.main-form-conteiner .boton-conteiner1 button {
    font-size: 2rem;
    background-color: #1877f2;
    color: #fff;
    padding: 1.4rem 1.6rem;
    width: 37rem;
    border: none;
    border-radius: 6px;
    margin-bottom: 1.3rem;
    font-weight: 600;
}
.conteiner-a {
    padding-bottom: 1,3rem;
}
.conteiner-a a {
    color: #1877f2;
    font-size: 1.4rem;
    text-decoration: none;
}

.hr-line{
    border-bottom: 1px solid #e1e3e5;
    width: 100%;
    margin: 10px;
}

.main-form-conteiner .boton-conteiner2 button {
    font-size: 1.9rem;
    background-color: #42b72a;
    color: #fff;
    padding: 1.4rem 1.6rem;
    width: 21rem;
    border: none;
    border-radius: 6px;
    margin-top: 1.2rem;
    font-weight: 600;
}

.conteiner-form .parrafo2 {
    color: #1c1e21;
    font-size: 1.4rem;
    margin-top: 2.4rem;
    width: 38rem;
    text-align: center;
}

.conteiner-form .parrafo2 a {
    color: #1c1e21;
    font-size: 1.4rem;
    text-decoration: none;
    margin-top: 2.4rem;
    font-weight: 600;
}